<div class="space-around-flex-container margin-top-2">
  <button class="restart-button" mat-raised-button color="accent" (click)="restart()">RESTART</button>
  <span>
    <button mat-mini-fab class="margin-left" style="background: blueviolet" (click)="updateColor('blueviolet')">Violet</button>
    <button mat-mini-fab class="margin-left" style="background: hotpink" (click)="updateColor('hotpink')">Pink</button>
    <button mat-mini-fab class="margin-left" style="background: deepskyblue" (click)="updateColor('deepskyblue')">Blue</button>
    <button mat-mini-fab class="margin-left" style="background: forestgreen" (click)="updateColor('forestgreen')">Green</button>
    <button mat-mini-fab class="margin-left" style="background: darkred" (click)="updateColor('darkred')">Red</button>
    <button mat-mini-fab class="margin-left" style="background: darkorange" (click)="updateColor('darkorange')">Orange</button>
    <button mat-mini-fab class="margin-left" style="background: turquoise" (click)="updateColor('turquoise')">Turquoise</button>
  </span>
</div>
